/*id = # (HIGH priority - style a single element, renders once)*/
/*class = . (LOW priority - style as many times as you like*/

/* GENERAL */

body {
    background: url("../images/sunsetShellRidge.jpg") no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

nav {
    position: fixed;
}

html {
    position: relative;
    min-height: 100%;
}

main {
    position:fixed;
}

h1 {
    font-size: 50px;
    color: rgb(207, 145, 93);
    padding: 150px 0 150px 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h3, h4, h5 {
    color: rgb(133, 96, 64);
    font-family: 'Raleway', sans-serif;
}
h6 {
    color: rgb(109, 85, 64);
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.card-about {
    background-color: rgba(245, 245, 245, 0.698);
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
}

/* .card-contact {
    background-color: rgba(199, 167, 155, 0.616);
    margin-bottom: 20px;
    margin: 20px 10px 20px 10px;
} */

.btn-contact {
    margin-bottom: 5px;
}
/* FOOTER */

#footertxt {
    text-align: center;
    font-weight: 600;
    color: whitesmoke;
}
.footpos {
    display: flex;
    align-items: center;
}
footer {
    border-top: 10px solid rgba(230, 105, 56, 0.932);
    background-color: rgb(48, 53, 53);
    margin-top: 20em;
    padding-top: 20px;
    padding-bottom: 15px;
    position: 0;
}

.float-left {
    float: left;
}
/* ABOUT PAGE */

.aboutImg {
    height: 70%;
    width: 70%;
    margin-bottom: 30px;
    border-radius: 3%;
}

.center-align {
    text-align: center;
}

/* PORTFOLIO PAGE */

.tech-logo {
    width: 100px;
    height: 100px;
}

.card-portfolio {
    background-color: rgba(245, 245, 245, 0.698);
    margin-bottom: 10px;
    box-shadow: 0px 5px 5px;
}

.portImg {
    width: 60%;
    height: 60%;
}

.project-title {
    border-radius: 5px;
    color: rgba(66, 64, 64, 0.664);
}

.project-description {
    max-width: 388.8px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}





