/*id = # (HIGH priority - style a single element, renders once)*/
/*class = . (LOW priority - style as many times as you like*/

/* GENERAL */

body {
    background: url("../images/sunsetShellRidge.png");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

html {
    position: relative;
    min-height: 100%;
}

main {
    position:fixed;
}

h1 {
    color: rgb(207, 145, 93);
}

h4 {
    color: rgb(228, 202, 180);
}

.crd-portfolio {
    background-color: rgba(248, 183, 158, 0.623);
    margin-bottom: 10px;
}

.crd-about {
    background-color: rgba(245, 189, 167, 0.932);
    margin-bottom: 20px;
}
/* FOOTER */

#footertxt {
    text-align: center;
    font-weight: 600;
    color: whitesmoke;
}
.footpos {
    display: flex;
    align-items: center;
}
footer {
    border-top: 10px solid rgba(230, 105, 56, 0.932);
    background-color: rgb(48, 53, 53);
    margin-top: 25em;
    padding-top: 20px;
    padding-bottom: 15px;
    position: 0;
}

/* ABOUT PAGE */

.aboutImg {
    margin-bottom: 20px;
}

/* PORTFOLIO PAGE */
.portImg {
    width: 60%;
    height: 80%;
    /* margin-bottom: 30px;
    margin-right: 30px; */
}






